@use '@/styles/mixins/lists' as *;

.install {
  @include ordered-list();
}

.install__warning {
  margin: 1rem auto;
  width: 80%;
  border-radius: 0.5rem;
  background: #f4f0de;
  padding: 0.5rem 1rem;
  color: #000;
}
