@mixin block-hover {
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #fff2;
    box-shadow: 0 0 0 10px #fff2;
  }
}

@mixin card($borderRadius) {
  @if $borderRadius == 'small' {
    border-radius: 1rem;
  }

  @else if $borderRadius == 'large' {
    border-radius: 3rem;
  }

  @else {
    border-radius: 1.5rem;
  }

  padding: 1.5rem 2.5rem;
  background: var(--tertiary);
  background: linear-gradient(0deg, var(--secondary) 0%, var(--tertiary) 75%);
}
